{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css"
          href="{% static 'home.css' %}">

</head>
<body>
<header>
    <div class="main">
        <ul>
            <li><a href="/">Home</a></li>
            {% if user.is_authenticated %}
                <li><a href="/my_profile/{{ user.username }}">My Profile</a></li>
                <li><a href="/profiles/{{user.username}}">Profiles</a></li>
                <li><a href="/logout">Logout</a></li>
                {% if user.is_superuser %}
                    <li><a href="/allot_role">Allot Role</a></li>
                {% endif %}
            {% else %}
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
            {% endif %}
        </ul>
    </div>
</header>
</body>
</html>
