{% load static %}
<html>
<head>
    <title>PUCSD CONNECT</title>
</head>
<body>
<header>
    {% include "./base.html" %}
    {% for message in messages %}
    <div class="message">
        <small style="color: white">{{ message }}</small>
        <a href="" class="del-msg">x</a>
    </div>
    {% endfor %}
    <div style="text-align: center; padding: 250px" >
    <h1 style="font-size:60px; color:#2bab0d; margin:10px;">PUCSD CONNECT</h1>
    <p style="font-size:20px; color: #2bab0d;"><em>Connecting Students, Alumni and Faculties</em></p>
    </div>
</header>
</body>
</html>
