<html>

{% load crispy_forms_tags %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Job Profile</title>
</head>
<body>
{% include "./base.html" %}
<div class="new">
    <div class="col-8">
        <form method="post">
            {% csrf_token %}
            <div class="col-4">
                {{ form.first_company|as_crispy_field }}
            </div>
            <div class="col-4">
                {{ form.current_company|as_crispy_field }}
            </div>
            <div class="col-4">
                {{ form.experience|as_crispy_field }}
            </div>
            <div class="col-4">
                {{ form.job_post|as_crispy_field }}
            </div>

            <button type="submit" class="btn btn-success">Save</button>
        </form>
    </div>
</div>
</body>
</html>